/*Generals*/

body {
  min-width: 900px;
  padding: 20px;
}

hr {
  margin: 10px;
  border-color: white;
  clear: both;
}

img{
  width: 200px;
  height: 200px;
  vertical-align: baseline;
  border: 1px solid #666;
  background: #999;
}

.card-bg{
  background: #82CAFA;
  padding: 20px;
  box-shadow: 0px 0px 0px 20px #3BB9FF inset;
  border: 2px solid darkslateblue;
}

.box-frmt{
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  text-align: center;
  color: rgb(64, 80, 89);
}

 /*Floats */
.float-left{
  float: left;
  margin: 10px 0px 0px 10px;
}

 /*Clear */
.clear{
  clear: both;
}
